
{{- partial "footer-content.html" . -}}

{{ if .IsHome | or .IsSection }}

            </main>

{{ else }}

            </article>

{{ end }}


            <footer id="footer">
                <blockquote id="quote">
                    <div><div class="container">
                        <p>AI [is] an amplifier of human intelligence.  And when people are smarter, better things happen: people are more productive, happier, [and the] economy strives.</p>
                        
                        <footer><cite>Yann LeCun, ACM Turing Award Laureate, NYU Professor, and Meta Chief AI Scientist</cite></footer>
                    </div></div>
                </blockquote>


                <section id="boilerplate">
                    <div class="container">
                        <div class="category">{{ $.Site.Params.focus }}</div>

                        <h2>{{ $.Site.Params.author }}, <span>{{ $.Site.Params.suffix }}</span></h2>

                        <span class="hr-major"></span>

                        <p>Michael is a computer scientist and analytical leader.  With his blend of technical and business skills, he helps organizations discover, define, and deliver next-gen solutions in this <em>AI-first</em>&nbsp;era&mdash;while sustaining the required change that follows.</p>
                            
                        <p>As a problem-solver, he has helped Fortune 500 companies, startups, and not-for-profit organizations&mdash;including the&nbsp;following:</p>

                        <ul id="brands">
                            <li><img src="https://www.michaelmallari.com/img/logo-amex.png" alt="American Express" title="American Express" class="vertical-middle" crossorigin /></li>
                            <!--<li><img src="https://www.michaelmallari.com/img/logo-schwab.png" alt="Charles Schwab" title="Charles Schwab" class="vertical-middle" crossorigin /></li>-->
                            <li><img src="https://www.michaelmallari.com/img/logo-discovery.png" alt="Discovery Communications" title="Discovery Communications" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-gap.png" alt="Gap" title="Gap" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-hasbro.png" alt="Hasbro" title="Hasbro" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-lincoln.png" alt="Lincoln Motor Company" title="Lincoln Motor Company" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-marriott.png" alt="Marriott" title="Marriott" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-marvel.png" alt="Marvel" title="Marvel" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-mayoclinic.png" alt="Mayo Clinic" title="Mayo Clinic" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-nasdaq.png" alt="Nasdaq" title="Nasdaq" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-polo.png" alt="Polo Ralph Lauren" title="Polo Ralph Lauren" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-verizon.png" alt="Verizon" title="Verizon" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-yahoo.png" alt="Yahoo"  title="Yahoo" class="vertical-middle" crossorigin /></li>
                        </ul>

                        <p>Michael earned his MS in Applied Analytics from Columbia University, MBA from the University of Maryland, College Park, and BS in Computer Science from New York Institute of&nbsp;Technology.</p>

                        <a href="https://twitter.com/MichaelMallari" target="_blank" class="btn btn-default">Follow his latest posts <i class="fa-brands fa-x-twitter"></i></a> <span id="hello">or <a href="https://www.linkedin.com/in/mmallari/" target="_blank">say hello on LinkedIn</a> <i class="fa-brands fa-linkedin"></i></span>
                    </div>
                </section>


                <section id="handcrafted">
                    <div class="container">
                        <p><a href="https://dribbble.com/michaelmallari/projects/2017578-www-michaelmallari-com" target="_blank">Designed</a> and <a href="https://github.com/michaelmallari/hugo-michaelmallari" target="_blank">built</a> by Michael Mallari</p>
                    </div>
                </section>
            </footer>
        </div>
        <div id="banner">
            <div class="container">
                <p><a href="https://michaelmallari.substack.com/" target="_blank"><span>Looking for an advantage from seminal AI research?</span> <strong>Subscribe&nbsp;to&nbsp;newsletter&nbsp;&raquo;</strong></a></p>
            </div>
        </div>








        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin></script>
        <script src="https://www.michaelmallari.com/js/functions.min.js" crossorigin></script>
        {{ if .IsHome }}<script src="https://www.michaelmallari.com/js/posts-sticky.min.js" crossorigin></script>{{ else if .IsSection }}<script src="https://www.michaelmallari.com/js/posts-category.min.js" crossorigin></script>{{ end }}
        <script type="text/javascript">
            $(document).ready(function() {
                {{ if .IsHome }}UpdatePostsStickyLayout(){{ else if .IsSection }}UpdatePostsCategoryLayout(){{ end }}

                rssFeed = "https://www.michaelmallari.com/data/index.xml";

                fetch(rssFeed)
                    .then(response => response.text())
                    .then(str => new window.DOMParser().parseFromString(str, "text/xml"))
                    .then(data => {
                        console.log(data);
                        const items = Array.from(data.querySelectorAll("item"));        
                        // Shuffle the array of items
                        for (let i = items.length - 1; i > 0; i--) {
                            const j = Math.floor(Math.random() * (i + 1));
                            [items[i], items[j]] = [items[j], items[i]];
                        }
                        // Take the first 3 items
                        const selectedItems = items.slice(0, 3);
                        let html = ``;
                        selectedItems.forEach(el => {
                            html += `
                                <li><a href="${el.querySelector("link").innerHTML}">${el.querySelector("title").innerHTML}</a></li>
                            `;
                        });
                        document.getElementById("aside-posts-recent").insertAdjacentHTML("afterbegin", html);
                });
            });

            $(window).resize(function() {
                {{ if .IsHome }}UpdatePostsStickyLayout(){{ else if .IsSection }}UpdatePostsCategoryLayout(){{ end }}
            }).resize();
        </script>
        <script src="https://www.michaelmallari.com/js/highlight/highlight.pack.js" crossorigin></script>
        <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
