
        </div>
        <!--/#content-body -->




        <div id="aside">
          <div class="container">
            <span class="category">

{{ if .IsHome }}

              Recent Thoughts

{{ else if eq .Section "computational" }}

              Applied Computing

{{ else if eq .Section "data" }}

              Applied Data Science & analytics

{{ else if eq .Section "design" }}

              Applied Design

{{ else if eq .Section "operational" }}

              Applied Operations

{{ else if eq .Section "product" }}

              Applied Product Leadership

{{ end }}

            </span>
            <ul id="aside-posts-recent" />
          </div>
        </div>
