
          <section id="posts-sticky" class="posts-list">
            <article><a href="{{ .Site.BaseURL }}computational/data-summarization-julia-python-r/">
              <div class="post-thumb height-half-width" style="background-image: url('/img/og-us-census.jpg');">
                <div class="container height-parent">
                  <svg class="post-thumb-arrow" width="40px" height="16px"><polygon points="20,0 39.978,16 0.023,16" fill="#ffffff"></svg>
                </div>
              </div>
              <div class="post-details">
                <div class="container">
                  <div class="category">Computational Thinking + Doing</div>
                  <h2 class="title">Data Summarization in Julia, Python, and R</h2>
                  <p class="excerpt">A comparison of summarizing U.S. Census Bureau data using DataFrames.jl, pandas, and dplyr, respectively.</p>
                </div>
              </div>
            </a></article>
            <article><a href="{{ .Site.BaseURL }}data/text-classification-language-models-bert/">
              <div class="post-thumb height-half-width" style="background-image: url('/img/og-hamilton-bill.jpg');">
                <div class="container height-parent">
                  <svg class="post-thumb-arrow" width="40px" height="16px"><polygon points="20,0 39.978,16 0.023,16" fill="#ffffff"></svg>
                </div>
              </div>
              <div class="post-details">
                <div class="container">
                  <div class="category">Data-Informed Thinking + Doing</div>
                  <h2 class="title">Text Classification With Language Models Using BERT</h2>
                  <p class="excerpt">Classifying the topics of the Federalist Papers (by Alexander Hamilton et al.)—using Transformers.jl for Julia.</p>
                </div>
              </div>
            </a></article>
            <article><a href="{{ .Site.BaseURL }}product/product-feature-mix-kano-model/">
              <div class="post-thumb height-half-width" style="background-image: url('/img/og-sjobs-iphone.jpg');">
                <div class="container height-parent">
                  <svg class="post-thumb-arrow" width="40px" height="16px"><polygon points="20,0 39.978,16 0.023,16" fill="#ffffff"></svg>
                </div>
              </div>
              <div class="post-details">
                <div class="container">
                  <div class="category">Product Thinking + Doing</div>
                  <h2 class="title">Product Feature Mix Based on the Kano Model</h2>
                  <p class="excerpt">Prioritizing features not only based on importance for customers, but also based on points of diminishing customer satisfaction.</p>
                </div>
              </div>
            </a></article>
            <article><a href="{{ .Site.BaseURL }}computational/feature-engineering//">
              <div class="post-thumb height-half-width" style="background-image: url('/img/og-mlb-jdegrom.jpg');">
                <div class="container height-parent">
                  <svg class="post-thumb-arrow" width="40px" height="16px"><polygon points="20,0 39.978,16 0.023,16" fill="#ffffff"></svg>
                </div>
              </div>
              <div class="post-details">
                <div class="container">
                  <div class="category">Computational Thinking + Doing</div>
                  <h2 class="title">Feature Engineering</h2>
                  <p class="excerpt">Creating new and insightful baseball pitching stats (features or independent/predictor variables) in R.</p>
                </div>
              </div>
            </a></article>
            <article><a href="{{ .Site.BaseURL }}data/graphical-exploratory-data-analysis/">
              <div class="post-thumb height-half-width" style="background-image: url('/img/og-avengers-endgame.jpg');">
                <div class="container height-parent">
                  <svg class="post-thumb-arrow" width="40px" height="16px"><polygon points="20,0 39.978,16 0.023,16" fill="#ffffff"></svg>
                </div>
              </div>
              <div class="post-details">
                <div class="container">
                  <div class="category">Data-Informed Thinking + Doing</div>
                  <h2 class="title">Graphical Exploratory Data Analysis</h2>
                  <p class="excerpt">Visualizing the Marvel Comics universe dataset—using Gadfly.jl for Julia.</p>
                </div>
              </div>
            </a></article>
            <article><a href="{{ .Site.BaseURL }}product/human-feeling-competitive-advantage/">
              <div class="post-thumb height-half-width" style="background-image: url('/img/og-collaboration-1.jpg');">
                <div class="container height-parent">
                  <svg class="post-thumb-arrow" width="40px" height="16px"><polygon points="20,0 39.978,16 0.023,16" fill="#ffffff"></svg>
                </div>
              </div>
              <div class="post-details">
                <div class="container">
                  <div class="category">Product Thinking + Doing</div>
                  <h2 class="title">Human Feeling as a Competitive Advantage</h2>
                  <p class="excerpt">As AI automates more mechanical and thinking tasks, interpersonal and empathetic tasks become critical.</p>
                </div>
              </div>
            </a></article>
            <article><a href="{{ .Site.BaseURL }}computational/quantum-computing/">
              <div class="post-thumb height-half-width" style="background-image: url('/img/og-quantum-computing-1.jpg');">
                <div class="container height-parent">
                  <svg class="post-thumb-arrow" width="40px" height="16px"><polygon points="20,0 39.978,16 0.023,16" fill="#ffffff"></svg>
                </div>
              </div>
              <div class="post-details">
                <div class="container">
                  <div class="category">Computational Thinking + Doing</div>
                  <h2 class="title">Quantum Computing</h2>
                  <p class="excerpt">Breaking barriers in computing by using IBM Quantum Experience and Qiskit for Python.</p>
                </div>
              </div>
            </a></article>
            <article><a href="{{ .Site.BaseURL }}data/geospatial-data-analysis/">
              <div class="post-thumb height-half-width" style="background-image: url('/img/og-denver.png');">
                <div class="container height-parent">
                  <svg class="post-thumb-arrow" width="40px" height="16px"><polygon points="20,0 39.978,16 0.023,16" fill="#ffffff"></svg>
                </div>
              </div>
              <div class="post-details">
                <div class="container">
                  <div class="category">Data-Informed Thinking + Doing</div>
                  <h2 class="title">Geospatial Data Analysis</h2>
                  <p class="excerpt">Analyzing Denver's small cell nodes (used for enabling IoT-powered smart cities and agriculture)—using ggmap for R.</p>
                </div>
              </div>
            </a></article>
            <article><a href="{{ .Site.BaseURL }}product/product-requirements-industrial-internet-of-things/">
              <div class="post-thumb height-half-width" style="background-image: url('/img/og-smart-factories.png');">
                <div class="container height-parent">
                  <svg class="post-thumb-arrow" width="40px" height="16px"><polygon points="20,0 39.978,16 0.023,16" fill="#ffffff"></svg>
                </div>
              </div>
              <div class="post-details">
                <div class="container">
                  <div class="category">Product Thinking + Doing</div>
                  <h2 class="title">Product Requirements for Industrial Internet of Things</h2>
                  <p class="excerpt">Optimizing manufacturing output and efficiency through descriptive, predictive, and prescriptive analytics.</p>
                </div>
              </div>
            </a></article>
            <div style="clear: both;"></div>
          </section>
<!--/#posts-sticky -->
