                    <section id="posts-sticky" class="posts-list">

{{ range (.Paginator 9).Pages }}

                        <article><a class="title" href="{{ .Params.ExternalLink | default .RelPermalink }}">
                            <div class="post-thumb height-half-width" style="background-image: url('{{ .Site.BaseURL }}img/{{ if .Params.image }}{{ .Params.image }}{{ else }}og-julia-code.jpg{{ end }}');">
                                <div class="container height-parent"><svg class="post-thumb-arrow" width="40px" height="16px"><polygon points="20,0 39.978,16 0.023,16" fill="#ffffff"></svg></div>
                            </div>
                            <div class="post-details">
                                <div class="container">
                                    <div class="category">
{{ if eq .Section "baseball" }}
                                        Baseball Analytics
{{ else if eq .Section "basketball" }}
                                        Basketball Analytics
{{ else if eq .Section "football" }}
                                        Football Analytics
{{ end }}
                                    </div>
                                    <h2 class="title">{{ .Title | safeHTML }}</h2>
                                    <p class="excerpt">{{ .Params.summary | safeHTML }}</p>
                                </div>
                            </div>
                        </a></article>

{{ end }}

                        <div style="clear: both;"></div>
                    </section>
<!--/#posts-sticky -->
