body#home #content-body {
  padding: 0px;
  width: 100%;
}




.posts-list {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.posts-list > article {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
.posts-list a {
  text-decoration: none !important;
}




.posts-list > article a .post-thumb {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 136% auto !important;
  -moz-transition: background-size 0.24s ease;
    -webkit-transition: background-size 0.24s ease;
    -o-transition: background-size 0.24s ease;
    -ms-transition: background-size 0.24s ease;
    transition: background-size 0.24s ease;
  filter: grayscale(60%);
}
.posts-list > article a:hover .post-thumb,
.posts-list > article a:focus .post-thumb {
  background-color: @white;
  background-size: 148% auto !important;
  filter: none !important;
}
.posts-list > article a .post-thumb-arrow polygon,
.posts-list > article a .post-thumb-arrow path {
  fill: @off-white;
}
.posts-list > article:nth-child(2) a .post-thumb-arrow polygon,
.posts-list > article:nth-child(2) a .post-thumb-arrow path,
.posts-list > article:nth-child(5) a .post-thumb-arrow polygon,
.posts-list > article:nth-child(5) a .post-thumb-arrow path,
.posts-list > article:nth-child(8) a .post-thumb-arrow polygon,
.posts-list > article:nth-child(8) a .post-thumb-arrow path {
  fill:@gray-dark;
}
.posts-list > article a:hover .post-thumb-arrow polygon,
.posts-list > article a:hover .post-thumb-arrow path,
.posts-list > article a:focus .post-thumb-arrow polygon,
.posts-list > article a:focus .post-thumb-arrow path {
  fill: @green;
}




.posts-list > article:nth-child(2) .post-details,
.posts-list > article:nth-child(5) .post-details,
.posts-list > article:nth-child(8) .post-details {
  background: @gray-dark;
}
.posts-list > article a:hover .post-details,
.posts-list > article a:focus .post-details {
  background: @green;
}
.posts-list > article a .post-details.height-auto {
  height: auto !important;
}
.posts-list > article a .category {
  color: @blue;
  line-height: 0.72rem;
  margin: 0px;
  padding: 2.92rem 0rem 0.76rem 0rem;
  text-decoration: none;
}
.posts-list > article a:hover .category,
.posts-list > article a:focus .category {
  color: rgba(255, 255, 255, 0.72);
}
.posts-list > article a .title {
  color: @gray-dark;
  font-size: 1.16rem;
  letter-spacing: 0.01rem;
  line-height: 1.64rem;
  margin: 0rem 0rem 1.6rem 0rem !important;
}
.posts-list > article:nth-child(2) a .title,
.posts-list > article:nth-child(5) a .title,
.posts-list > article:nth-child(8) a .title {
  color: @white !important;
}
.posts-list > article a:hover .title,
.posts-list > article a:focus .title {
  color: @white !important;
}
.posts-list > article a .excerpt {
  .sans-serif();
  color: rgba(29, 37, 45, 0.6);
  font-size: 0.84rem;
  line-height: 1.4rem;
  margin: 0px;
  padding: 0rem 0rem 2.56rem 0rem;
  text-decoration: none;
}
.posts-list > article:nth-child(2) a .excerpt,
.posts-list > article:nth-child(5) a .excerpt,
.posts-list > article:nth-child(8) a .excerpt {
  color: rgba(183, 201, 211, 0.52);
}
.posts-list > article a:hover .excerpt,
.posts-list > article a:focus .excerpt {
  color: rgba(255, 255, 255, 0.72);
}








@media (max-width: 374px) {

}
@media (min-width: 375px) {

}
@media (min-width: 375px) and (max-width: 413px) {

}
@media (max-width: 413px) {

}
@media (min-width: 414px) {

}
@media (min-width: 414px) and (max-width: 506px) {

}
@media (max-width: 506px) {

}
@media (min-width: 507px) {

}
@media (min-width: 507px) and (max-width: 550px) {

}
@media (max-width: 550px) {

}
@media (min-width: 551px) {

}
@media (min-width: 551px) and (max-width: 677px) {

}
@media (max-width: 677px) {

}
@media (min-width: 678px) {

}
@media (min-width: 678px) and (max-width: 767px) {

}
@media (max-width: 767px) {

}
@media (min-width: 768px) {
  .posts-list > article {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .posts-list .container {
    margin-right: 1.8rem;
    margin-left: 1.8rem;
  }
  .posts-list > article:nth-child(odd) {
    float: left;
  }
  .posts-list > article:nth-child(even) {
    float: right;
  }
  #posts-sticky > article:nth-child(9) {
    display: none;
  }
  .posts-list > article a .category {
    padding: 1.48rem 0rem 0.4rem 0rem;
  }
  .posts-list > article a .title {
    font-size: 0.84rem;
    letter-spacing: 0.01rem;
    line-height: 1.24rem;
    margin: 0rem 0rem 1rem 0rem !important;
  }
  .posts-list > article a .excerpt {
    font-size: 0.52rem;
    line-height: 0.8rem;
    padding: 0rem 0rem 1.4rem 0rem;
  }
}
@media (max-width: 991px) {

}
@media (min-width: 992px) {
  .posts-list {
    text-align: left;
  }
  .posts-list > article {
    float: left;
    width: 25%;
  }
  #posts-sticky > article:nth-child(5),
  #posts-sticky > article:nth-child(9) {
    width: 50%;
  }
  #posts-sticky > article:nth-child(3),
  #posts-sticky > article:nth-child(6),
  #posts-sticky > article:nth-child(9) {
    float: right;
  }
  .posts-list > article:nth-child(1) {
    margin-left: 25%;
  }
  .posts-list > article a .category {
    padding: 2.2rem 0rem 0.76rem 0rem;
  }
  #posts-sticky > article:nth-child(4) a .category,
  #posts-sticky > article:nth-child(5) a .category,
  #posts-sticky > article:nth-child(6) a .category,
  #posts-sticky > article:nth-child(7) a .category,
  #posts-sticky > article:nth-child(8) a .category,
  #posts-sticky > article:nth-child(9) a .category {
    padding-top: 2.6rem;
  }
  .posts-list > article a .title {
    font-size: 1.04rem;
    line-height: 1.44rem;
    margin: 0rem 0rem 1.56rem 0rem;
  }
  #posts-sticky > article:nth-child(4) a .title,
  #posts-sticky > article:nth-child(6) a .title,
  #posts-sticky > article:nth-child(7) a .title,
  #posts-sticky > article:nth-child(8) a .title {
    font-size: 1.32rem !important;
    letter-spacing: 0rem;
    line-height: 1.8rem;
    margin-bottom: 2.4rem !important;
  }
  #posts-sticky > article:nth-child(5) a .title,
  #posts-sticky > article:nth-child(9) a .title {
    font-size: 1.68rem !important;
    letter-spacing: 0rem;
    line-height: 2.4rem;
    margin-bottom: 1.86rem;
  }
  .posts-list > article a .excerpt {
    font-size: 0.72rem;
    line-height: 1.12rem;
    padding: 0px;
  }
  #posts-sticky > article:nth-child(4) a .excerpt,
  #posts-sticky > article:nth-child(5) a .excerpt,
  #posts-sticky > article:nth-child(6) a .excerpt,
  #posts-sticky > article:nth-child(7) a .excerpt,
  #posts-sticky > article:nth-child(8) a .excerpt,
  #posts-sticky > article:nth-child(9) a .excerpt {
    font-size: 0.8rem;
    line-height: 1.28rem;
  }
}
@media (min-width: 992px) and (max-width: 1023px)  {

}
@media (max-width: 1023px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1024px) and (max-width: 1199px) {

}
@media (max-width: 1199px) {

}
@media (min-width: 1200px) {

}